# Python
__pycache__/
*.py[cod]
*$py.class

# Environments
.env

# Distribution / Packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# IDEs
.idea/
.vscode/

# macOS
.DS_Store

# Miscellaneous
*.bak
*.swp
*~
*.log
*.cache
*.out

