:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
  
    color-scheme: light dark;
    color: #ffffffde;
    background-color: #242424;
  
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  a {
    font-weight: 500;
    color: #646cff;
    text-decoration: inherit;
  }
  a:hover {
    color: #535bf2;
  }
  
  body {
    margin: 0;
    display: flex;
    place-items: center;
    min-width: 320px;
    min-height: 100vh;
  }
  
  h1 {
    font-size: 3.2em;
    line-height: 1.1;
  }

  /* Sidebar */
  .sidebar {
    height: 100%; 
    width: 75px;
    position: fixed;
    top: 0; 
    left: 0; 
    background-color: #18191b;
  }
  
  .sidebar ul {
    list-style-type: none; 
    padding: 0;
    margin: 0; 
  }
  
  .sidebar ul li {
    text-align: center; 
  }
  
  .sidebar ul li a {
    display: block; 
    padding: 10px; 
    color: white; 
    text-decoration: none; 
  }
  
  .sidebar ul li a:hover {
    background-color: #d2d2d23d;
  }
  
  .sidebar .logo img {
    width: 50px; 
    height: auto; 
    margin: 10px auto; 
    display: block; 
  }

  /* APP */
  #app {
    padding: 20px;
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
    
  }
  
  
  .card {
    padding: 2em;
  }

  /* block.css */
.block {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    
    gap: 10px;
    border-radius: 8px;
    border: 1px solid #373737;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: #1a1a1a;
    cursor: pointer;
    transition: border-color 0.25s;
    margin: 40px 12px;
  }
  
  .block:hover {
    border-color: #646cff;
  }
  
  .block:focus,
  .block:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
  }
  
  @media (prefers-color-scheme: light) {
    :root {
      color: #213547;
      background-color: #ffffff;
    }
    .block {
      background-color: #f9f9f9;
    }
  }
 

  
.pipe-container{
  width: 100%;
  display: flex;
  gap: 20px;
  align-items: center;
  padding: 30px 50px;
  border-radius: 8px;
}
.pipe-container:hover {
  background: #242526;
}

.nodes {
  margin: 0 auto;
}


.pipe-title {
  color: #b0b0b0cf;
  font-size: 15px;
  text-align: left;
  min-width: 150px; /* Stellt sicher, dass der Titelbereich mindestens 20px hoch ist */
  display: flex;
  align-items: center; /* Zentriert den Text vertikal, falls der Bereich höher als der Text ist */
  padding: 10px 0; /* Fügt oben und unten Padding hinzu, um den Bereich aufzufüllen, falls nötig. Adjustieren Sie diesen Wert nach Bedarf */
}
/* CSS */
.inline {
  display: inline-flex;
  

}

.stacked {
  display: block;
  
 
}
