
.react-flow__node {
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  border: 1px solid #373737;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  color: white;
 
  
}
.react-flow__node-input{
  background-color: #747bff;
}